@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.banner-container {
    max-width: 1320px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../images/Banner.png');
    background-repeat: no-repeat;
    background-position: cover;
    margin: 0 auto;
    margin-top: 40px;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content {
    text-align: center;
}
.banner-para {
    font-size: 32px;
    color: rgb(255, 255, 255);
}
.banner-heading {
    font-size: 72px;
    color: rgb(255, 255, 255);
}
.discount {
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.discount-para h2 {
    font-size: 88px;
    color: rgb(255, 0, 0);
}
.discount-para p {
    font-size: 24px;
}